<p id="notice"><%= notice %></p>
<% provide(:title, @usuario.nome) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
  <h1><%= @usuario.nome %></h1>
</section>
  </aside>
</div>
<h3>Projetos</h3>
 <div class="col-md-8">

   
   <div class="card-group">
      <% @usuario.projetos.each do |projeto| %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= projeto.nome %></h4>
          <p class="card-text"><%= projeto.descricao %></p>
          <%= link_to 'Va Para o projeto', projeto, class: "btn btn-primary" %>
      </div>
      <% end %>
       
  </div>
 </div>
 <div   style="padding-top: 10px;" >
   <%= link_to 'Novo Projeto', new_usuario_path,class:"btn btn-primary" %>
 </div>
